<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>mParticle and MoEngage would like to access IDFA for tracking purpose</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>moeapp</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.alphadevs.MoEngage</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moeapp</string>
			</array>
		</dict>
	</array>
	<key>MoEngageAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
