name: Create stable release

on:
  workflow_dispatch:
    inputs:
      ticket:
        description: Release ticket id for the GitHub commit (i.e. MOEN-1234)
        type: string
        required: true
      note:
        description: >
          Release note for the GitHub release.
          Can be the developers documentation link or a custom message.
        type: string
        required: true
      sdk-version:
        description: The SDK dependency version to update to, in the package.json
        type: string
        required: false
        default: ''

jobs:
  release:
    name: Create release
    runs-on: macos-15
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: source
        token: ${{ secrets.SDK_BOT_ACCESS_TOKEN }}
        fetch-depth: 0
        fetch-tags: true

    - name: Checkout scripts
      uses: actions/checkout@v4
      with:
        path: scripts
        repository: moengage/sdk-automation-scripts
        token: ${{ secrets.SDK_BOT_ACCESS_TOKEN }}
        fetch-depth: 0
        fetch-tags: true

    - name: Setup keychain
      uses: ./scripts/actions/ios-keychain-setup
      env:
        MO_CERTIFICATE_IDENTITY: ${{ secrets.MO_CERTIFICATE_IDENTITY }}
        MO_CERTIFICATE_PASSWORD: ${{ secrets.MO_CERTIFICATE_PASSWORD }}
        MO_CERTIFICATE_BASE64: ${{ secrets.MO_CERTIFICATE_BASE64 }}

    - name: Create release
      uses: ./scripts/actions/ios-sdk-client-release
      with:
        dir: source
      env:
        MO_RELEASE_TICKET: ${{ inputs.ticket }}
        MO_RELEASE_NOTES: ${{ inputs.note }}
        MO_SDK_DEPENDENCY_VERSION: ${{ inputs.sdk-version }}
        MO_CERTIFICATE_IDENTITY: ${{ secrets.MO_CERTIFICATE_IDENTITY }}
        GITHUB_TOKEN: ${{ secrets.SDK_BOT_ACCESS_TOKEN }}
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        SDK_BOT_ACCESS_TOKEN: ${{ secrets.SDK_BOT_ACCESS_TOKEN }}
        MOENGAGE_KMM_FREE: true

    - name: Delete keychain
      if: always()
      uses: ./scripts/actions/ios-keychain-delete
